*
{
	margin: 0;
	padding: 0;
}

#fence
{
	margin-top: 50px;
	position: relative;
	width: 100%;
}

.fence_f
{
	display: inline-block;
	width: 5;
	height: 150px;
	background: #7a5856;
	border-left: 50px solid #dead61;
	border-bottom: 100px solid #dead61;
	margin-left: -4px;
}

.fence_f:nth-child(2)
{
	border-right: 50px solid #dead61;
}

.fence_f:last-child
{
	border-right: 50px solid #dead61;
}

.fence_door
{
	width: 150px;
	height: 250px;
	background: #7a5856;
	display: inline-block;
	margin-left: -4px;
}